.flashcard {
    width: 250px;
    height: 250px;
    border: 3px solid #888;
    border-radius: 10px;
    background-color: #444;
    padding: 4px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;

    .prefix {
        color: #888;
        font-weight: 200;
        margin-right: 5px;
        font-size: 90%;
    }

    .new-word {
        color: red;
        font-size: .8em;
    }
    

    &.card-answer {
        border-color: #d4bb2d;
    }

    img {
        object-fit: scale-down;
        width: 95%;
        height: 95%;
        margin: 2.5%;

        &.icon {
            object-fit: scale-down;
            width: unset;
            height: unset;
            margin: unset;
        }
    }
}
