.App {
    min-width: 500px;
    width: 60%;
    margin: auto;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-buttons {
            .btn {
                margin: 3px;
            }
        }
    }
}
